<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewPort" content="width-device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="author" content="SeongCheol Jung">
    <title>대출 사이트</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <body class="container">

    </body>

    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>
</body>
</html>