:root{
    /* color */
    --color-main: #08c6d2;
    --color-sub1: #e7fafb;
    --color-sub2: #005668;
    --color-line: #ebebeb;
    --color-gray: #9c9c9c;
}

@media all and (max-width:1550px){
    .wrap{overflow: hidden;}
    .cont2 .link-box li .text-box{
        right: -100px;
    }
    .cont2 .link-box li .text-box.on{
        right: -80%;
    }
}
@media all and (max-width:1499px){
    .cont2 .link-box li .text-box{
        right: -100px;
    }
    .cont2 .link-box li .text-box.on{
        right: -39%;
    }
}
@media all and (max-width:1400px){
    .cont2 .link-box li .text-box{
        font-size: 1.2rem;
        right: -100px;
    }
    .cont2 .link-box li .text-box.on{
        right: -40%;
    }
}
@media all and (max-width:1359px){
    .cont1 .slick-slide img.mo{display: block;} /* 0922 */
    .cont1 .slick-slide img.mo-none{display: none;} /* 0922 */

    .contents .bg.bg-img{background: none;}
    .wrap{min-height: 100vh; height: calc(100%); overflow-x: hidden; position: relative;}
    .header .h-box.h-top{padding: 0;}
    .header .h-box.h-top .inner{
        position: relative;
        flex-flow: row wrap;
    }
    .header .logo{
        flex: 0 392px;
        width: 392px;
        height: 46px;
        display: flex;
        justify-content: flex-start;
    }
    .header .h-box .menu-btn{
        position: absolute;
        right: 0;
        top: 0;
        width: 56px;
        height: 42px;
        display: flex;
        flex-flow: column;
        gap: 12px;
        align-items: flex-end;
        z-index: 9;
    }
    .header .h-box .menu-btn .short{
        width: 46px;
        height: 6px;
        background: var(--color-sub2);
    }
    .header .h-box .menu-btn .long{
        width: 56px;
        height: 6px;
        background: var(--color-main);
    }
    .header .search{
        margin: 37px 0 0;
        width: 100%;
        height: 100px;
    }
    .header .search-input{
        font-size: 2.6rem;
        letter-spacing: -0.52px;
        padding: 31px 24px;
    }
    .header .search-btn{
        width: 120px;
        background-size: 50px;
    }
    .header .h-box{
        border: 0;
    }
    .header .h-box .inner{
        width: calc(100% - 80px);
    }
    .header .h-bottom{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        background: var(--color-sub2);
        height: 100%;
        z-index: 99992;
        padding-bottom: 100px;
        overflow-y: auto;
        transition: all .4s;
    }
    .header .h-bottom::-webkit-scrollbar{display: none;}
    .header .h-bottom.on{
        left: 0;
    }
    .header .h-bottom .inner{
        width: calc(100%);
    }
    .header .nav .nav-header{
        padding: 37px 40px;
        border-bottom: 1px solid #016c82;
        margin-bottom: 40px;
        position: relative;
    }
    .header .nav .login-btn{margin: 60px 40px 0;}
    .header .nav .login-style{font-size: 3.2rem; color: #fff; border-radius: 16px; width: 100%; height: 100px; background: #c4fbff;}
    .header .nav .logo{
        flex: 0 392px;
    }
    .header .nav .menu-btn{
        background: transparent;
        right: 30px;
        top: 25.4px;
    }
    .header .nav .menu-btn{
        width: 69.3px;
        height: 69.3px;
        background: url(../images/menu-close.png) no-repeat center;
        background-size: cover;
    }
    .header .nav .mo .link-wrap{gap: 10px; padding: 0 40px; margin-bottom: 36px;}
    .header .nav .mo .link-wrap li{flex: 0 50%;}
    .header .nav .mo .link-wrap a{
        border-radius: 16px;
        padding: 27px 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: -0.64px;
        color: var(--color-sub2);
    }
    .header .nav .mo .link-wrap .myPage a{
        background: #c4fbff;
    }
    .header .nav .mo .link-wrap .blog a{
        background: #ffcce2;
        height: 100%;
    }
    .header .nav .dep1_ul{flex-flow: row wrap; margin: 0 40px;}
    .header .nav .dep1_ul > li{
        width: 100%;
        line-height: 56px;
    }
    .header .nav .dep1_ul > li > a{
        font-size: 4.8rem;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 33px 0;
        align-items: center;
        width: 100%;
    }
    .header .nav .dep1_ul > li > a.on{
        color: #fff !important;
        border-bottom: 0 !important;
    }
    .header .nav .dep1_ul > li > a::after{
        content: '';
        width: 72px;
        height: 72px;
        background: url(../images/mo-menu-arrow.png) no-repeat center;
        background-size: cover;
        transform: rotate(180deg);
        transition: all .4s;
    }
    .header .nav .dep1_ul > li.on a::after{
        transform: rotate(360deg);
    }
    .header .nav .dep2_ul{
        position: static;
        padding: 0;
        margin-bottom: 30px;
    }
    .header .nav .dep2_ul > li{
        display: flex;
        gap: 5px;
        align-items: center;
        list-style: none;
        line-height: 28px;
    }
    .header .nav .dep2_ul > li:nth-child(1) a{
        padding-top: 0px;
    }
    .header .nav .dep2_ul > li:nth-child(1)::before{
        padding-top: 0;
    }
    .header .nav .dep2_ul > li::before{
        content: '· ';
        color: #fff;
        font-weight: bold;
        padding: 6px 0;
        font-size: 2rem;
    }
    .header .nav .dep2_ul > li > a{
        font-size: 3.2rem;
        color: #fff;
        margin: 0;
        padding: 22px 0;
    }

    .cont-tit{font-size: 4.2rem; line-height: 20px; letter-spacing: -0.84px; margin-bottom: 40px; justify-content: center !important;}
    .cont-tit::before{width: 52px; height: 52px; margin-right: 12px;}
    .cont-wrap{flex-flow: row wrap; /* margin-bottom: 0; */}
    .cont1{
        width: 100%;
        min-width: 100%;
        flex: 0 100%;
        height: fit-content;
        margin: 0;
        border-radius: 40px;
        margin-bottom: 100px;
    }
    .slick-slide img.mo-none{display: none;}
    .cont1 .slick-slider, .cont1 .slick-list, .cont1 .slick-track, .cont1 .slick-slide, .cont1 .slick-slide div, .cont1 .slick-slide a, .cont1 .slick-slide li, .cont1 .slick-slide img{
        height: 100% !important;
    }
    .cont1 .controler{
        width: 382px;
        height: 100px;
        border-radius: 40px 0 40px 0;
    }
    .cont1 .custom_paging{
        right: 250px;
        bottom: 27px;
    }
    .cont1 .custom_paging li{
        font-size: 3.2rem;
        letter-spacing: -0.64px;
    }
    .cont1 .custom_paging li span{
        font-size: 3.2rem;
        letter-spacing: -0.64px;
    }
    .cont1 .custom_paging li .bold{
        font-size: 3.2rem;
        letter-spacing: -0.64px;
    }
    .cont1 .slick-arrow{
        width: 62px;
        height: 62px;
        bottom: 19px;
    }
    .cont1 .slick-arrow.prev{
        right: 164px;
        background: url(../images/mo-bn-prev.png) no-repeat center;
        background-size: cover;
    }
    .cont1 .slick-arrow.next{
        right: 16px;
        background: url(../images/mo-bn-next.png) no-repeat center;
        background-size: cover;
    }
    .cont1 .controler button{
        right: 90px;
        bottom: 19px;
        width: 65px;
        height: 62px;
    }
    .cont1 .controler button.play{
        background: url(../images/mo-bn-play.png) no-repeat center;
        background-size: cover;
    }
    .cont1 .controler button.stop{
        background: url(../images/mo-bn-stop.png) no-repeat center;
        background-size: cover;
    }
    .cont2{
        border-radius: 40px;
        padding: 60px 30px;
    }
    .cont2 .link-box li a{
        padding: 32px 0 34px;
        height: 100%;
        font-size: 2.6rem;
        letter-spacing: -0.52px;
    }
    .cont2 .link-box li a::before{
        width: 82px;
        height: 82px;
        min-height: 82px;
        margin-bottom: 16px;
    }
    .cont3, .cont4{flex: 1 100%; margin: 0 0 100px;}
    .cont3{height: 805px;}
    .cont3 .tab-wrap{gap: 6px;}
    .cont3 .tab-wrap > li{width: 25%;}
    .cont3 .tab-wrap > li > button{
        width: 100%;
        height: 100%;
        padding: 24px 0;
        font-size: 2.8rem;
        letter-spacing: -0.56px;
    }
    .cont3 .tab-cont > li.more{
        position: static;
        margin-top: 26px;
        width: 100%;
    }
    .cont3 .tab-cont > li.flex{padding: 30px 0 !important;}
    .cont3 .tab-cont .topic,
    .cont3 .tab-cont .tit{
        font-size: 2.8rem;
    }
    .cont3 .tab-cont .tit{margin-right: 0;}
    .cont3 .tab-cont > li.more .more{
        border-radius: 14px;
        border: 1px solid var(--color-main);
        background: var(--color-sub1);
        padding: 28px 0;
        justify-content: center;
        font-size: 3rem;
        letter-spacing: -0.3px;
    }

    .cont4 .banner .cont4-bn{
        min-height: inherit;
    }
    .cont4 .banner .cont4-bn .mo-none{display: none !important;}
    .cont4 .banner .cont4-bn .mo{display: block !important;}

    .cont4 .custom_paging{display: none !important;}
    .cont4 .controler{
        top: inherit;
        bottom: 26px;
        right: 108px;
    }
    .cont4 .controler button{
        width: 62px;
        height: 62px;
    }
    .cont4 .slick-arrow{
        top: inherit;
        bottom: 26px;
        width: 62px;
        height: 62px;
    }
    .cont4 .slick-arrow.prev{
        right: 190px;

    }
    .cont4 .slick-arrow.next{
        right: 26px;
    }

    .cont5{margin-top: -20px;}
    .cont5 .tit-box{
        margin-bottom: 40px;
    }
    .cont5 .tit-box .center-cont-tit,
    .cont5 .tit-box .center-cont-tit .m-color{
        font-size: 5.6rem;
        letter-spacing: -1.12px;
        line-height: 72px;
        margin-bottom: 26px;
    }
    .cont5 .tit-box .sub-tit{
        font-size: 2.8rem;
        letter-spacing: -0.56px;
    }
    .center-info-wrap{flex-flow: row wrap;}
    .cont5 .bg-wrap{flex: 0 100%; min-height: 776px;}
    .cont5 .bg-left{
        background: url(../images/tab-bg-mo.png) no-repeat top center;
        background-size: cover;
    }
    .cont5 .bg-left .cont-inner{
        width: 100%;
    }
    .cont5 .consulting-info{
        flex-flow: column;
        align-items: flex-start;
        width: fit-content;
        margin: 61px auto 36px;
    }
    .cont5 .consulting-info li:first-child{border: 0; padding: 0; margin: 0;}
    .cont5 .consulting-info li{display: flex; align-items: center;}
    .cont5 .consulting-info .tit{
        font-size: 2.8rem;
        letter-spacing: -0.56px;
        padding: 19px 39px;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .cont5 .consulting-info li:first-child .tit{
        margin-bottom: 27px;
    }
    .cont5 .consulting-info .cont p{
        font-size: 2.6rem;
        line-height: 42px;
        letter-spacing: -0.52px;
        white-space: nowrap;
    }
    .cont5 .consulting-info .cont p.tel{
        font-size: 3.6rem;
        letter-spacing: -0.72px;
    }
    .cont5 .tab-cont-wrap{
        margin: 0 auto;
    }
    .cont5 .tab-cont-wrap .tab-cont{
        width: 650px;
        height: 100%;
        height: 418px;
        padding: 50px;
    }
    .cont5 .tab-cont > .tit{
        font-size: 3.6rem;
        letter-spacing: -0.72px;
        margin-bottom: 26px;
    }
    .cont5 .tab-cont .center-info-list li:nth-child(1){margin-bottom: 0;}
    .cont5 .tab-cont .center-info-list .tit,
    .cont5 .tab-cont .center-info-list .cont{
        font-size: 2.8rem;
        letter-spacing: -0.56px;
        line-height: 38px;
    }
    .cont5 .tab-cont .center-info-list .cont{margin: 0;}
    .cont5 .tab-cont .center-info-list .cont.w{
        min-width: 520px;
    }
    .cont5 .tab-cont .center-info-list .tit{
        margin-bottom: 16px;
    }
    .cont5 .tab-cont .center-info-list{margin-bottom: 38px;}
    .cont5 .tab-cont .arrow-box{
        position: inherit;
        width: 100%;
    }
    .cont5 .tab-cont .arrow-box{font-size: 2.8rem; letter-spacing: -0.56px;}
    .cont5 .tab-cont-wrap .tab-btn-wrap button{
        width: 62px;
        height: 62px;
        background-size: 50% !important;
    }
    .cont5 .tab-cont-wrap .tab-btn-wrap .prev{left: -30px;}
    .cont5 .tab-cont-wrap .tab-btn-wrap .next{right: -30px;}
    .cont5 .tab-cont-wrap::before{
        width: 158px;
        right: -30px;
    }
    .cont5 .bg-right{
        border-radius: 0;
        height: 100%;
        padding: 60px 50px 60px;
    }
    .cont5 .bg-wrap .cont-inner{
        width: calc(100%);
    }
    .cont5 .section-list-wrap{
        /*display: flex;*/
        width: fit-content;
        align-items: flex-start;
        position: absolute;
        left: 0;
    }
    .cont5 .section-list-wrap .tit{
        font-size: 5.2rem;
        margin-right: 60px;
        letter-spacing: -0.64px;
        margin-bottom: 0;
        white-space: nowrap;
        margin-top: 20px;
    }
    .cont5 .section-list-wrap .section-list{
        margin-top: 5px;
        width: 380px;
    }
    .cont5 .section-list-wrap .section-li::before{
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }
    .cont5 .section-list-wrap .section-li{
        font-size: 2.6rem;
        letter-spacing: -0.52px;
        flex: 0 calc(50% - 13px);
        white-space: nowrap;
    }
    .cont5 .section-list-wrap .section-li:nth-child(odd){
        margin-right: 26px;
    }
    .cont5 .map{
        width: 100%;
        /* max-width: 670px; */
        height: 520px;
        margin: 156px auto 0;
        background-size: 670px;
        position: relative;
        left: -40px;
    }
    .cont5 .map .section-tab-btn{
        position: absolute;
        /* background: rgba(0, 0, 0, .1); */
        width: 670px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .cont5 .map .section-tab-btn li::after{
        width: 40px;
        height: 54px;
        left: -17px;
        top: -30px;
    }
    .cont5 .map .section-tab-btn li button{
        font-size: 1.8rem;
        letter-spacing: -0.36px;
        padding: 7px 14px;
        white-space: nowrap;
    }
    .cont5 .map .section-tab-btn li.section0{top: 293px; left: 277px;}
    .cont5 .map .section-tab-btn li.section1-1{top: 38px;left: 426px;}
    .cont5 .map .section-tab-btn li.section1-2{top: 111px; left: 467px;}
    .cont5 .map .section-tab-btn li.section1-3{top: 174px; left: 512px;}
    .cont5 .map .section-tab-btn li.section2-1{top: 180px; left: 343px;}
    .cont5 .map .section-tab-btn li.section2-2{top: 253px; left: 159px;}
    .cont5 .map .section-tab-btn li.section2-3{top: 239px; left: 306px;}
    .cont5 .map .section-tab-btn li.section2-4{top: 259px; left: 423px;}
    .cont5 .map .section-tab-btn li.section3-1{top: 334px; left: 63px;}
    .cont5 .map .section-tab-btn li.section3-2{top: 310px; left: 165px;}
    .cont5 .map .section-tab-btn li.section3-3{top: 361px; left: 249px;}
    .cont5 .map .section-tab-btn li.section3-4{top: 426px; left: 140px;}
    .cont5 .map .section-tab-btn li.section4{top: 353px; left: 426px;}

    .top{width: 88px; height: 88px; right: 28px; bottom: 152px;}
    .top img{width: 22px; height: 22px;}

    .footer .f-banner .slick-list{margin: 0;}
    .footer .f-banner .slick-slide{margin: 0 38px;}

    .footer .footer-box{margin-top: 28px; padding: 76px 0 0;}
    .footer .f-logo{width: 484px; height: 56px; margin-bottom: 50px; margin-right: 0;}

    .footer .f-link{margin-bottom: 26px; justify-content: center;}
    .footer .f-link li:nth-child(1){padding-right: 26px; margin-right: 26px;}
    .footer .f-link li:nth-child(1)::after{height: 26px;}
    .footer .f-link li a{font-size: 2.8rem; letter-spacing: -0.56px;}

    .footer .site-info{flex-flow: row wrap;}
    .footer .site-info li{
        font-size: 2.6rem;
        letter-spacing: -0.52px;
        line-height: 40px;
    }
    .footer .f-info{margin-bottom: 46px;}
    .footer .site-info li:nth-child(1),
    .footer .site-info li:nth-child(4){flex: 0 100%; text-align: center;}
    .footer .site-info li:nth-child(2),
    .footer .site-info li:nth-child(3){flex: 1 47%;}
    .footer .site-info li:nth-child(2){text-align: right; margin-right: 20px;}
    .footer .f-info .copyright{text-align: center; font-size: 2.4rem; letter-spacing: -0.52px; line-height: 40px;}

    .footer .sns-list{position: static; gap: 36px;}
    .footer .sns-list li{width: 72px; height: 72px;}

    .footer .inner{flex-flow: column;}


    .quick-menu{
        width: 100%;
        height: 120px;
        border-radius: 50px 50px 0 0;
        padding: 0 40px;
        box-shadow: 0 -8px 14px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        position: fixed;
        bottom: 0;
        z-index: 99991;
    }
    .quick-menu li{flex: 0 20%;}
    .quick-menu li a::before{
        content: '';
        display: block;
        width: 56px;
        height: 56px;
        margin: 12px auto 10px;
    }
    .quick-menu li a.quick1::before{background: url(../images/n-menu-icon1.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick2::before{background: url(../images/n-menu-icon2.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick3::before{background: url(../images/n-menu-icon3.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick4::before{background: url(../images/n-menu-icon4.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick5::before{background: url(../images/n-menu-icon5.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick1::before{background: url(../images/n-menu-icon1-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick2::before{background: url(../images/n-menu-icon2-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick3::before{background: url(../images/n-menu-icon3-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick4::before{background: url(../images/n-menu-icon4-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick5::before{background: url(../images/n-menu-icon5-on.png) no-repeat center; background-size: cover;}
    .quick-menu li a{font-size: 2rem; letter-spacing: -1px; text-align: center; padding-bottom: 12px;}

    .pop-inner{width: 100% !important; max-width: 630px !important;}
    .pop-inner.login-pop{width: 100%; max-width: 630px; padding: 60px 40px; border-radius: 40px;}
    .pop-inner .pop-close{width: 68px; height: 68px;}
    .pop-inner .text{font-size: 3.2rem; letter-spacing: -0.64px; line-height:48px; margin-bottom: 36px;}
    .pop-inner .login-link li:first-child{margin-bottom: 24px;}
    .pop-inner .login-link a{border-radius: 16px; height: 100px; padding: 24px 0; font-size: 3.6rem; letter-spacing: -0.72px;}
    .pop-inner .login-link a::before{width: 80px; height: 80px;}
}
@media all and (max-width:751px){
    .header .logo{
        flex: 0 194px;
        width: 194px;
        height: 23px;
    }
    .header .h-box .menu-btn{
        width: 28px;
        height: 21px;
        gap: 6px;
    }
    .header .h-box .menu-btn .short{
        width: 23px;
        height: 3px;
    }
    .header .h-box .menu-btn .long{
        width: 28px;
        height: 3px;
    }
    .header .search{
        margin: 18px 0 0;
        height: 50px;
    }
    .header .search-input{
        font-size: 1.3rem;
        letter-spacing: -0.26px;
        padding: 15px 12px;
    }
    .header .search-btn{
        width: 60px;
        background-size: 50%;
    }
    .header .h-box{
        border: 0;
    }
    .header .h-box .inner{
        width: calc(100% - 40px);
    }
    .header .h-bottom{
        padding-bottom: 50px;
    }
    .header .h-bottom .inner{
        width: calc(100%);
    }
    .header .nav .nav-header{
        padding: 18px 20px;
        margin-bottom: 20px;
    }
    .header .nav .login-btn{margin: 30px 20px 0;}
    .header .nav .login-style{font-size: 1.6rem; border-radius: 8px; height: 50px;}

    .header .nav .logo{
        flex: 0 194px;
    }
    .header .nav .menu-btn{
        width: 39.6px;
        height: 39.6px;
        right: 13px;
        top: 6px;
    }
    .header .nav .mo .link-wrap{gap: 5px; padding: 0 20px; margin-bottom: 18px;}
    .header .nav .mo .link-wrap a{
        border-radius: 8px;
        padding: 13.5px 0;
        font-size: 1.6rem;
        letter-spacing: -0.32px;
    }
    .header .nav .dep1_ul{margin: 0 20px;}
    .header .nav .dep1_ul > li > a{
        font-size: 2.4rem;
        padding: 16px 0 8px;
    }
    .header .nav .dep1_ul > li > a::after{
        width: 36px;
        height: 36px;
    }
    .header .nav .dep2_ul{
        min-height: inherit;
        margin-bottom: 12px;
        position: relative;
        padding-bottom: 0;
    }
    .header .nav .dep2_ul li{margin-bottom: 0;}
    .header .nav .dep2_ul > li > a{
        font-size: 1.6rem;
        padding: 6px 0;
    }

    .cont-wrap{margin-bottom: 50px;}
    .cont-tit{font-size: 2.1rem; line-height: 10px; letter-spacing: -0.42px; margin-bottom: 20px;}
    .cont-tit::before{width: 26px; height: 26px; margin-right: 6px;}
    .cont1{
        width: 100%;
        min-width: 100%;
        flex: 0 100%;
        height: fit-content;
        margin: 0;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .cont1 .controler{
        width: 191px;
        height: 50px;
        border-radius: 20px 0 20px 0;
    }
    .cont1 .custom_paging{
        right: 120px;
        bottom: 15px;
    }
    .cont1 .custom_paging li{
        font-size: 1.6rem;
        letter-spacing: -0.32px;
    }
    .cont1 .custom_paging li span{
        font-size: 1.6rem;
        letter-spacing: -0.32px;
    }
    .cont1 .custom_paging li .bold{
        font-size: 1.6rem;
        letter-spacing: -0.32px;
    }
    .cont1 .slick-arrow{
        width: 32px;
        height: 32px;
        bottom: 9px;
    }
    .cont1 .slick-arrow.prev{
        right: 82px;
    }
    .cont1 .slick-arrow.next{
        right: 8px;
    }
    .cont1 .controler button{
        right: 45px;
        bottom: 9px;
        width: 32px;
        height: 31px;
    }

    .cont2{
        border-radius: 20px;
        padding: 30px 15px;
    }
    .cont2 .link-box {gap: 7px;}
    .cont2 .link-box li a{
        padding: 16px 0 17px;
        font-size: 1.4rem;
        letter-spacing: -0.26px;
    }
    .cont2 .link-box li a::before{
        width: 42px;
        height: 42px;
        min-height: 42px;
        margin-bottom: 8px;
    }
    .cont3, .cont4{margin: 0 0 50px;}
    .cont3{height: 420px;}
    .cont3 .tab-wrap{gap: 3px;}
    .cont3 .tab-wrap > li > button{
        padding: 12px 0;
        font-size: 1.4rem;
        letter-spacing: -0.28px;
    }
    .cont3 .tab-cont > li.more{
        margin-top: 13px;
    }
    .cont3 .tab-cont > li.flex{padding: 15px 0 !important;}
    .cont3 .tab-cont .topic{margin-right: 10px;}
    .cont3 .tab-cont .topic,
    .cont3 .tab-cont .tit{
        font-size: 1.4rem;
    }
    .cont3 .tab-cont > li.more .more{
        border-radius: 7px;
        padding: 14px 0;
        font-size: 1.5rem;
        letter-spacing: -0.15px;
    }
    .cont4{width: 100%; margin-bottom: 0;}
    /* .cont4 .banner .cont4-bn{height: 323px;} */
    .cont4 .controler{
        top: inherit;
        bottom: 13px;
        right: 54px;
    }
    .cont4 .controler button{
        width: 31px;
        height: 31px;
    }
    .cont4 .slick-arrow{
        top: inherit;
        bottom: 13px;
        width: 31px;
        height: 31px;
    }
    .cont4 .slick-arrow.prev{
        right: 95px;
    }
    .cont4 .slick-arrow.next{
        right: 13px;
    }

    .cont5 .tit-box{margin-bottom: 20px;}
    .cont5 .tit-box .center-cont-tit,
    .cont5 .tit-box .center-cont-tit .m-color{
        font-size: 2.8rem;
        letter-spacing: -0.56px;
        line-height: 36px;
        margin-bottom: 8px;
    }
    .cont5 .tit-box .sub-tit{
        font-size: 1.4rem;
        letter-spacing: -0.28px;
    }
    .cont5 .bg-wrap{ min-height: 388px;}
    .cont5 .consulting-info{margin: 30px auto 18px;}
    .cont5 .consulting-info .tit{
        font-size: 1.4rem;
        letter-spacing: -0.28px;
        padding: 9px 19px;
        margin-right: 15px;
    }
    .cont5 .consulting-info li:first-child .tit{
        margin-bottom: 13px;
    }
    .cont5 .consulting-info .cont {margin-top: -8px;}
    .cont5 .consulting-info .cont p{
        font-size: 1.3rem;
        line-height: 21px;
        letter-spacing: -0.26px;
    }
    .cont5 .consulting-info .cont p.tel{
        font-size: 1.8rem;
        letter-spacing: -0.36px;
        margin-top: 5px;
    }
    .cont5 .tab-cont-wrap .tab-cont{
        width: 335px;
        height: 100%;
        height: 217px;
        padding: 25px;
    }
    .cont5 .tab-cont > .tit{
        font-size: 1.8rem;
        letter-spacing: -0.36px;
        margin-bottom: 13px;
    }
    .cont5 .tab-cont .center-info-list .tit,
    .cont5 .tab-cont .center-info-list .cont{
        font-size: 1.4rem;
        letter-spacing: -0.28px;
        line-height: 19px;
    }
    .cont5 .tab-cont .center-info-list .cont{margin-top: 0;}
    .cont5 .tab-cont .center-info-list .tit{
        margin-bottom: 8px;
    }
    .cont5 .tab-cont .center-info-list .cont.w{
        min-width: 300px !important;
    }
    .cont5 .tab-cont .center-info-list{margin-bottom: 19px;}
    .cont5 .tab-cont .arrow-box{font-size: 1.4rem; letter-spacing: -0.28px; padding: 12px 0;}
    .cont5 .tab-cont-wrap .tab-btn-wrap button{
        width: 31px;
        height: 31px;
    }
    .cont5 .tab-cont-wrap .tab-btn-wrap .prev{left: -15px;}
    .cont5 .tab-cont-wrap .tab-btn-wrap .next{right: -15px;}
    .cont5 .tab-cont-wrap::before{
        width: 79px;
        height: 55px;
        top: -38px;
        right: -15px;
    }
    .cont5 .bg-left::after{
        width: 111px;
        height: 47px;
    }
    .cont5 .bg-right{
        padding: 30px 20px 30px;
    }
    .cont5 .bg-wrap .cont-inner{
        width: calc(100%);
        margin: 0 auto;
    }
    .cont5 .section-list-wrap .logo-img{width: 40%;}
    .cont5 .section-list-wrap .tit{
        font-size: 2rem;
        margin-top: 5px;
        margin-right: 30px;
        letter-spacing: -0.32px;
    }
    .cont5 .section-list-wrap .section-list{
        margin-top: 5px;
        width: 300px;
    }
    .cont5 .section-list-wrap .section-li::before{
        width: 10px;
        height: 10px;
        margin-right: 6px;
    }
    .cont5 .section-list-wrap .section-li{
        font-size: 1.3rem;
        letter-spacing: -0.26px;
        flex: 0 calc(50% - 62px);
        white-space: nowrap;
    }
    .cont5 .section-list-wrap .section-li:nth-child(odd){
        margin-right: 26px;
    }
    .cont5 .map{
        width: 100%;
        height: 260px;
        margin: 78px auto 0;
        background-size: 335px;
        position: relative;
        left: -20px;
    }
    .cont5 .map .section-tab-btn{
        width: 335px;
        height: 100%;
    }
    .cont5 .map .section-tab-btn li::after{
        width: 20px;
        height: 27px;
        left: -8px;
        top: -15px;
    }
    .cont5 .map .section-tab-btn li button{
        font-size: 0.9rem;
        letter-spacing: -0.18px;
        padding: 3px 7px;
        white-space: nowrap;
    }
    .cont5 .map .section-tab-btn li.section0{top: 146.5px; left: 138.5px;}
    .cont5 .map .section-tab-btn li.section1-1{top: 19px;left: 213px;}
    .cont5 .map .section-tab-btn li.section1-2{top: 55.5px; left: 233.5px;}
    .cont5 .map .section-tab-btn li.section1-3{top: 87px; left: 256px;}
    .cont5 .map .section-tab-btn li.section2-1{top: 90px; left: 171.5px;}
    .cont5 .map .section-tab-btn li.section2-2{top: 126.5px; left: 79.5px;}
    .cont5 .map .section-tab-btn li.section2-3{top: 119.5px; left: 153px;}
    .cont5 .map .section-tab-btn li.section2-4{top: 129.5px; left: 211.5px;}
    .cont5 .map .section-tab-btn li.section3-1{top: 167px; left: 31.5px;}
    .cont5 .map .section-tab-btn li.section3-2{top: 155px; left: 79.5px;}
    .cont5 .map .section-tab-btn li.section3-3{top: 180.5px; left: 124.5px;}
    .cont5 .map .section-tab-btn li.section3-4{top: 213px; left: 70px;}
    .cont5 .map .section-tab-btn li.section4{top: 176.5px; left: 213px;}

    .top{width: 50px; height: 50px; right: 14px; bottom: 78px;}

    .footer .f-banner .slick-slide{margin: 0 6.5px; height: fit-content;}

    .footer .footer-box{margin-top: 14px; padding: 38px 0 0;}
    .footer .f-logo{width: 242px; height: 28px; margin-bottom: 25px;}

    .footer .f-link{margin-bottom: 13px;}
    .footer .f-link li:nth-child(1){padding-right: 13px; margin-right: 13px;}
    .footer .f-link li:nth-child(1)::after{height: 13px;}
    .footer .f-link li a{font-size: 1.4rem; letter-spacing: -0.28px;}

    .footer .site-info li{
        font-size: 1.3rem;
        letter-spacing: -0.26px;
        line-height: 20px;
    }
    .footer .f-info{margin-bottom: 23px;}
    .footer .site-info{gap: 3px;}
    .footer .site-info li:nth-child(2),
    .footer .site-info li:nth-child(3){flex: 0 47%;}
    .footer .site-info li:nth-child(2){margin-right: 10px;}
    .footer .f-info .copyright{font-size: 1.2rem; letter-spacing: -0.26px; line-height: 20px;}

    .footer .sns-list{position: static; gap: 18px;}
    .footer .sns-list li{width: 36px; height: 36px;}

    .footer .inner{flex-flow: column;}


    .quick-menu{
        height: 60px;
        border-radius: 25px 25px 0 0;
        padding: 0 20px;
    }
    .quick-menu li a::before{
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        margin: 6px auto 5px;
    }
    .quick-menu li a.quick1::before{background: url(../images/n-menu-icon1.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick2::before{background: url(../images/n-menu-icon2.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick3::before{background: url(../images/n-menu-icon3.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick4::before{background: url(../images/n-menu-icon4.png) no-repeat center; background-size: cover;}
    .quick-menu li a.quick5::before{background: url(../images/n-menu-icon5.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick1::before{background: url(../images/n-menu-icon1-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick2::before{background: url(../images/n-menu-icon2-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick3::before{background: url(../images/n-menu-icon3-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick4::before{background: url(../images/n-menu-icon4-on.png) no-repeat center; background-size: cover;}
    .quick-menu li.on a.quick5::before{background: url(../images/n-menu-icon5-on.png) no-repeat center; background-size: cover;}
    .quick-menu li a{font-size: 1rem; letter-spacing: -0.5px; padding-bottom: 6px;}

    .pop-inner{width: calc(100% - 60px) !important; max-width: 630px !important;}
    .pop-inner.login-pop{padding: 30px 20px; border-radius: 20px;}
    .pop-inner .pop-close{width: 34px; height: 34px;}
    .pop-inner .text{font-size: 1.6rem; letter-spacing: -0.32px; line-height: 24px; margin-bottom: 18px;}
    .pop-inner .login-link li:first-child{margin-bottom: 12px;}
    .pop-inner .login-link a{border-radius: 8px; height: 50px; padding: 12px 0; font-size: 1.8rem; letter-spacing: -0.36px;}
    .pop-inner .login-link a::before{width: 40px; height: 40px;}

    .pop-inner .pop-header.sub{height: 46px; padding: 9px 0;}
    .pop-inner .pop-header.sub .pop-close{top: 5px;}
    .pop-inner .pop-header.sub .tit{font-size: 2rem; letter-spacing: -0.4px;}
    .pop-inner .pop-cont.sub{padding: 20px 18px;}
    .pop-inner .pop-cont.sub .tit{font-size: 1.6rem; margin-bottom: 12px;}
    .pop-inner .pop-cont.sub .authentication-text-box{border-radius: 10px; padding: 14px;}
    .pop-inner .pop-cont.sub .authentication-text-box p{font-size: 1.4rem; line-height: 22px; letter-spacing: -0.28px; margin-bottom: 10px;}
    .pop-inner .pop-cont.sub .authentication-text-box .z-number-list > li{font-size: 1.4rem; letter-spacing: -0.28px;}
    .pop-inner .pop-cont.sub .authentication-text-box .z-number-list > li:not(:first-child){margin-top: 10px;}
    .pop-inner .pop-cont.sub .authentication-text-box .bar-type-list {margin-top: 4px;}
    .pop-inner .pop-cont.sub .authentication-text-box .bar-type-list li{font-size: 1.2rem; letter-spacing: -0.24px; line-height: 20px;}
    .pop-inner .pop-cont.sub .authentication-text-box .bar-type-list li::before{font-size: 2rem;}
    .pop-inner .pop-cont.sub .ck-wrap{margin-top: 14px; margin-bottom: 20px;}
    .pop-inner .pop-cont.sub input[type="checkbox"] + label {
        padding-left: 25px;
    }
    .pop-inner .pop-cont.sub input[type="checkbox"] + label:before {
        width: 20px;
        height: 20px;
        border-radius: 4px;
    }
    .pop-inner .pop-cont.sub input[type="checkbox"]:checked + label:after {
        width: 20px;
        height: 20px;
        border-radius: 4px;
    }
    .pop-inner .pop-cont.sub input[type="checkbox"] + label span {font-size: 1.4rem; letter-spacing: -0.28px;}
    .pop-inner .pop-button{font-size: 1.6rem; letter-spacing: -0.32px; border-radius: 8px; padding: 13px 0;}

    .pop-inner a.pop-button{width: 120px; margin: 0 auto 10px;}
    .pop-inner .text, .pop-inner .text > *{font-size: 1.6rem; letter-spacing: -0.32px; line-height: 24px; margin-bottom: 18px;}

    .pop-inner .pw-input{padding: 13px 12px; border-radius: 6px; margin-bottom: 12px;}
    .pop-inner .btn-wrap{gap: 3px;}
    .pop-inner .btn-wrap .pop-button{flex: 1;}

    .pop-inner.authentication, .pop-inner.training-input-pop{width: 578px;}
    .pop-inner.pw-pop,.pop-inner.event-pop,.pop-inner.training-pop{padding: 30px 20px; width: 336px;}
}
@media all and (max-width:374px){
    .cont2 .link-box li a{
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .cont5 .tab-cont .center-info-list .tit, .cont5 .tab-cont .center-info-list .cont{font-size: 1.2rem;}
    .cont5 .tab-cont .center-info-list .cont.w{min-width: inherit !important;}
    .cont5 .tab-cont-wrap .tab-cont{width: 290px;}
    .cont5 .section-list-wrap .section-list{margin-left: -20px;}
    .cont5 .tab-cont .arrow-box{
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
    }
    .quick-menu li a{letter-spacing: -0.9px;}
}
@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    html, body {
        margin: auto;
    }
    .mo.quick-menu, button.top, div.search, button.menu-btn, .footer .f-banner, ul.sns-list{
        display: none;
    }
    .footer .footer-box {
        border: 0px;
    }
}