<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="wrap">
        <!-- header -->
        <header class="header"> <!-- 헤더 영역 -->
            <div class="header-box flex row bw">
                <div class="h-box h-top flex">
                    <div class="inner flex row"> <!-- 전체 콘텐츠 너비 영역을 잡아줌 -->
                        <div class="logo">
                            <a href=".">
                                <h1 class="blind">KindLoan</h1>
                                <img src="images/logo.png" alt="KindLoan 홈페이지" />
                            </a>
                        </div>
                        <div class="util-link mo-none">
                            <ul class="flex">
                                <li>
                                    <a href="javascript:void(0);" class="flex mypage">마이페이지</a>
                                </li>
                                <li class="sns-login" id="li_sns_login">
                                    <a class="pop-btn btn_login" href="/security/login" id="login">로그인</a>
                                </li>
                                <li class="sns-login" id="li_sns_logout">
                                    <a class="pop-btn btn_logout" id="logout">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>