<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewPort" content="width-device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="author" content="SeongCheol Jung">
    <title>KindLoan에 오신것을 환영합니다.</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/media.css" />
</head>
<body>
    <div id="header">
        <!-- header -->
    </div>

</body>
</html>